@charset "utf-8";
:root {
	--primary_color: #c35100;
	--primary_varaint: #9a4000;
	--secondary_color: #168000;
	--on_primary: rgb(250, 250, 250);
	--on_background: rgb(66, 66, 66);
	--on_background_alt: rgba(66, 66, 66, 0.7);
	--background: rgb(255, 255, 255);
	--box_shadow: 0 5px 20px 1px rgba(0, 0, 0, 0.5);
	--tint_start: rgba(0,0,0, 0.5);
	--tint_end: rgba(0,0,0, 0.8);
	--accent: #FC6A03;
	--main-font: Halevetica, sans-serif
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
	overflow-x:hidden;
	height:100%;
}
body{
	margin: 0;
	padding: 0;
	font-family: var(--main-font);
	font-weight: 400;
	font-size: 12px;
	color: #fff;
	background-color: #000;
	height:100%;
	text-align:center;
}

.loader {
	position:fixed;
	top:50% !important;
	left:50%;
	width:50px;
	height:50px;
	margin-left:-25px;
	z-index:100;
	font-size:12px;
	line-height:50px;
	color:#fff;
}

.loader img{
	animation:k3d 3.5s infinite linear
}
@keyframes k3d {
0% {
  transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(360deg);
	opacity:0.3;
  }
  100%{
     transform: rotateY(0deg);
  }

}

#main_page{
	height:100%;
	width:100%;
	position:absolute;
	top:0;
	left:0;
	z-index:2;
	opacity:0;
}

.no_display_small {
	display: none;
}

.flex {
	display: flex;
}

.grid {
	display: grid;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.7;
	z-index: 3;
}

/*------ Header  ------------------------------------------------*/

.logo-holder {
  float: left;
  position: relative;
  max-width: 140px;
  left: 4rem;
}

.logo-holder a {
  margin-top: 0px;
  display: block;
  position: relative;
}

.logo-vis {
  position: relative;
  z-index: 3;
  transition: all 300ms linear;
}

.respimg {
  width: 100%;
  height: auto;
}

.logo-notvis {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  transition: all 300ms linear;
  opacity: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

.sticky {
  position: fixed;
  top: 0;
	background-color: #fff;
	width: 100%;
	z-index: 10;
}

.logo-sticky  img.logo-vis {
	opacity:0;
}
.logo-sticky img.logo-notvis {
	opacity:1;
}
header.sticky .header-inner:before , header.flat-header .header-inner:before {
	height:100%;

}
header.sticky .header-inner {
	top:-40px;
	padding:25px 0;
}

header.sticky .nav-holder a {
	color: #000;
}

li {
  list-style: none;
}

.hamburger_menu {
	position: absolute;
	top: 40px;
	right: 20px;
	display: inline-block;
	cursor: pointer;
	z-index: 10;
}

.bar1, .bar2, .bar3 {
	width: 35px;
	height: 5px;
	background-color: var(--on_primary);
	margin: 6px 0;
	transition: 0.4s;
}

.sticky .bar1,
.sticky .bar2,
.sticky .bar3 {
	background-color: #191919;
}

 /* Rotate first bar */
 .change .bar1 {
	-webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
	transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
	opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
	-webkit-transform: rotate(45deg) translate(-8px, -8px) ;
	transform: rotate(45deg) translate(-8px, -8px) ;
}

.nav-holder nav {
	position: absolute;
	top: 50px;
	right: 50px;
	z-index: 3;
}

.nav-holder nav li {
	margin-right: 1.5rem;
}

.nav-holder nav a {
	color: #fff;
	font-size: 16px;
}

.nav-holder nav a:hover {
	color: var(--accent);
}

.nav-social {
	width: 100%;
	position: relative;
	transition: all 600ms linear;
	top: 10px;
	right: 50px;
	z-index: 3;
	font-size: 16px;
}

.nav-social ul {
	display: flex;
	justify-content: flex-end;
}

.nav-social ul li {
	margin-left: 10px;
}

.sticky .nav-social a {
	color: #000;
}

.nav-social a {
	color: #fff;
}

/* Navigation Modal */
.soon_modal, .navigation_modal {
	width: 100vw;
	height: 100vh;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: -100vh;
	left: 0;
	background: var(--primary_color);
	color: var(--light);
	transition: 0.5s;
	z-index: 4;
}

.navigation_modal > .container {
	height: 100vh;
	
}

.nav_modal_show,
.modal_show {
	top: 0;
}

.navigation_modal nav {
	width: 100vw;
	/* flex-direction: column; */
	height: 70vh;
	z-index: 3;
}

.nav_modal_background {
	height: 100vh;
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	background-image: url(../images/hero/hero_2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.08;
	background-position: center;
	z-index: 2;
}

nav ul {
	width: 100%;
	list-style: none;
	height: 80%;
}

.navigation_modal nav ul li {
	height: 25%;
	overflow: hidden;
}

.navigation_modal li {
	width: 100%;
	text-align: center;
}

.navigation_modal .social {
	margin-top: 3rem;
}

.overlay_slide_right {
	transform: translateX(0);
	transition: all 0.4s ease-in-out;
}

.overlay_slide_left {
	transform: translateX(-100vw);
	transition: all 0.8s ease-in-out;
}

nav li a {
	position: relative;
	top: 45%;
	text-transform: uppercase;
	letter-spacing: 4px;
	text-decoration: none;
	display: block;
	text-align: center;
	font-size: 16px;
	color: var(--on_primary);
}

nav li a:hover {
	transform: scale(1.2)
}


.navigation_modal nav li a::before {
	content: "";
	width: 25vw;
	height: 3px;
	background-color: #fff;
	position: fixed;
	top: 47.5%;
	left: 0;
	opacity: 0;
}

.navigation_modal nav li a:hover::before {
opacity: 1;
} 

.navigation_modal li:nth-child(1) {
	background-color: var(--primary_color);
}

.navigation_modal li:nth-child(2) {
	background-color: var(--primary_varaint);
}

.navigation_modal li:nth-child(3) {
	background-color: var(--primary_color);
}

.navigation_modal li:nth-child(4) {
	background-color: var(--primary_varaint);
}

.navigation_modal .social {
	width: 100%;
	justify-content: space-evenly;
	align-items: center;
	height: 30%;
}

/* Slide in animation with delay for each nav item */
.slide_in_1 {
	animation: slide_in 0.2s linear 0.2s  both;
}

.slide_in_2 {
	animation: slide_in 0.4s linear 0.4s  both;
}

.slide_in_3 {
	animation: slide_in 0.4s linear 0.6s  both;
}

.slide_in_4 {
	animation: slide_in 0.4s linear 0.8s  both;
}

.slide_in_5 {
	animation: slide_in 0.4s linear 1s  both;
}

@keyframes slide_in {
	from {
			transform: translateX(-100%);
	}

	to {
			transform: translateX(0);
	}
}

/* Slide out animation with delay for each nav item */
.slide_out_1 {
	animation: slide_out 0.3s linear 0.5s  both;
}

.slide_out_2 {
	animation: slide_out 0.3s linear 0.4s  both;
}

.slide_out_3 {
	animation: slide_out 0.3s linear 0.3s  both;
}

.slide_out_4 {
	animation: slide_out 0.3s linear 0.2s  both;
}

.slide_out_5 {
	animation: slide_out 0.3s linear 0.1s  both;
}

@keyframes slide_out {
	from {
			transform: translateX(0);
	}

	to {
			transform: translateX(-100%);
	}
}

/* Main */
/* Hero */
main {
	background-color: var(--on_primary);
}
#hero > .container {
	width: 100vw;
	position: absolute;
	z-index:2;
	float:left;
	height:100%;
}

#hero .overlay,
.swiper-wrapper {
	position: fixed;
}

.hero_sticky #hero .overlay,
.hero_sticky .swiper-wrapper {
	position: sticky;
	scroll-behavior: smooth;
}

.hero_image {
	height: 100%;
}


.bg1 {
	background: url(../images/hero/hero_1.jpg);
}

.bg2 {
	background: url(../images/hero/hero_2.jpg);
}

.bg3 {
	background: url(../images/hero/hero_3.jpg);
}

.bg4 {
	background: url(../images/hero/hero_4.jpg);
}

.bg5 {
	background: url(../images/hero/hero_5.jpg);
}

.bg {
	position: absolute;
	height: 100%;
	width: 100%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

}

.hero_text {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 3;
}

.hero_title {
	position: relative;
	top: 30%;
	margin: 0 auto;
	border-right: none;
	padding: 50px;
	max-width: 450px;
}

.hero_title > div:first-child {
	position: absolute;
	left: 50%;
	top: 80%;
	margin-left: -50px;
	width: 100px;
	height: 50px;
}

.half-circle {
	width: 100px;
	height: 50px;
	border-bottom-left-radius: 200px;
	border-bottom-right-radius: 200px;
	border: 5px solid rgba(252, 106, 3, 0.51);
	border-top: 0;
	position: relative;
	top: 80%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.logo_separator {
	width: 56px;
	height: 24px;
	margin: 10px auto 10px;
	background: url(../images/pot_seperator.png) no-repeat center;
}

.hero_title h1 {
	font-size: 40px;
	letter-spacing: 2px;
	position: relative;
	width: 100%;
	margin-bottom: 10px;
	color: #fff;
	font-weight: bold;
	letter-spacing: 3px;
	padding: 10px 0;
	font-family: 'Playball', cursive;
	text-shadow: 2px 2px #000;
}

.hero_title h1 > span {
	display: block;
	color: var(--accent);
	font-size: 55px;
}

.hero_title h2 {
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
	position: relative;
	margin: 6px 0 10px 0;
	color: #fff;
	max-width: 350px;
	margin: 0 auto;
	font-weight: 300;
}

.hero_title h2:before, .hero_title h2:after {
	content: '';
	position: absolute;
	top: 50%;
	width: 75px;
	height: 1px;
	opacity: 0.6;
	background-color: var(--accent);
}

.hero_title h2:before {
	left: -60px;
}

.hero_title h2:after {
	right: -60px;
}

/* FOOTER */
footer {
	float: left;
	width: 100%;
	position: relative;
	z-index: 5;
	background: #191919;
}

footer:before {
	content: '';
	position: absolute;
	top: -40px;
	left: 50%;
	margin-left: -40px;
	width: 80px;
	height: 80px;
	border-radius: 100%;
	/* background: #191919; */
	background: #fff;
}

footer:after {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -5px;
	width: 10px;
	height: 10px;
	border-radius: 100%;
}

.footer_upper > .container {
	flex-direction: column;
	margin-top: 4rem;
}

.footer_upper > .container > div {
	grid-template-columns: 1fr 1fr 1fr;
}

.footer_info {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	position: relative;
	top: -70px;
	left: 20px;
}

.footer_info img {
	width: 200px;
	/* position: relative;
	right: 30px;
	bottom: 90px */
}

.footer_info p {
	font-size: 16px;
	text-align: left;
	letter-spacing: 1px;
	line-height: 26px;
	margin-left: 10px;
}

.footer_social {
	height: 100%;
}
.footer_social_background {
	background: url(../images/hero/hero_3.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right;
	border-radius: 15px;
	height: 100%;
	opacity: 0.02;
}
/* header{
	position:fixed;
	top:0;
	left:0;
	z-index:20;
	width:100%;
	transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
}
.header-inner {
	float:left;
	width:100%;
	position:relative;
	padding:30px 0;
	top:0;
    transition: all 300ms linear;
} */
/* .header-inner:before {
	content:'';
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:0;
	background:#fff;
    transition: all 200ms linear;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
} */
/* .logo-holder {
	float:left;
	position:relative;
	max-width:140px;
}
.logo-holder a {
	margin-top:0px;
	display:block;
	position:relative;
}
.logo-vis {
	position:relative;
	z-index:1;
    transition: all 300ms linear;
}
.logo-notvis {
	position:absolute;
	top:0;
	left:0;
	z-index:2;
	opacity:0;
    transition: all 300ms linear;
	opacity:0;
}
.logo-sticky  img.logo-vis {
	opacity:0;
}
.logo-sticky img.logo-notvis {
	opacity:1;
}
header.sticky .header-inner:before , header.flat-header .header-inner:before {
	height:100%;

}
header.sticky .header-inner {
	top:-40px;
	padding:25px 0;
} */

/*------ Navigation  ------------------------------------------------*/
/* .nav-holder {
	float:right;
	position:relative;
	margin-top:20px;
}
nav {
	position:relative;
	float:left;
	width:100%;
}
nav li{
	float:left;
	position:relative;
	padding: 10px 22px;
}
nav li a {
	float: left;
	line-height: 1;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #fff;
	top:0;
	position:relative;
	font-family: var(--main-font);
  transition: all 100ms linear;
	font-weight: bold;
	letter-spacing: 1px;
}
nav li a:before , nav li a:after {
	content:'';
	position:absolute;
	top:50%;
	margin-top:-2px;
	width:4px;
	height:4px;
	background:#fff;
	border-radius:100%;
    transition: all 300ms linear;
	transform: scale(0.1);
	opacity:0;
} */
/* nav li a:before {
	left:-16px;
}
nav li a:after {
	right:-16px;
}
nav li a.act-link:before , nav li a.act-link:after {
	transform: scale(1.0);
	opacity:1;
}
nav li ul a:before , nav li ul a:after {
	display:none;
}
nav li ul a.act-link {
	color:#000;
	font-weight:600;
}
nav li ul {
	margin: 30px 0 0 0;
	opacity: 0;
	visibility: hidden;
	position: absolute;
	min-width:150px;
	top: 38px;
	left: 0;
	z-index: 1;    	
	transition: all .2s ease-in-out;
	border:1px solid rgba(255,255,255,0.41);
	background:rgba(255,255,255,0.21);
}
nav li:hover > ul {
	opacity: 1;
	visibility: visible;
	margin: 0;
}
nav li:last-child {
	padding-right:0;
}
.nav-button-holder {
	top:40px;
	right:20px;
	display:none;
	position:absolute;
}
.nav-button {
	float:right;
	width:30px;
	height:24px;
	position:relative;
	margin-top:22px;
	cursor:pointer;
}
.nav-button span {
	float:left;
	width:100%;
	height:4px;
	background:#fff;
	margin-bottom:2px;
	position:relative;
}
header.sticky nav a ,  header.flat-header nav a{
	color:#000;
}
header.sticky nav li a:before  , header.sticky nav li a:after , header.flat-header nav li a:before , header.flat-header    nav li a:after{
	background:#000;
}
header.sticky .nav-button span  , header.flat-header .nav-button span{
	background:#000;
}
header.sticky nav li ul {
	background:rgba(255,255,255,1);
}
.nav-social {
	float:right;
	width:100%;
	position:relative;
    transition: all 600ms linear;
	top:10px;
}
.nav-social ul {
	float:right;
}
.nav-social li  {
	float:left;
	padding:10px;
}
.nav-social li:last-child {
	padding-right:0;
}
.nav-social li a {
	color:#fff;
	font-size:14px;
}
header.sticky   .nav-social   {
	top:-110px;
}
.subnav {
	float:right;
	margin:30px 6px 0 0 ;
}
.subnav a {
	display:inline-block;
	line-height: 1;
	font-size: 13px;
	color: #fff;
	top:0;
	padding-left:16px;
	position:relative;
    transition: all 100ms linear;
}
.subnav a i {
	padding-right:4px;
}
header.sticky nav a , header.sticky .subnav a  , header.flat-header .nav-social li a , header.flat-header .subnav a {
	color:#000;
}
.height-emulator {
	float:left;
	width:100%;
	position:relative;
	z-index:1
} */

.hide {
  display: none;
}