@media screen and  (min-width: 900px) {
.no_display_large {
	display: none;
}

.no_display_small {
	display: inline;
	position: absolute;
	margin-right: 20px;
}
}

@media screen and (max-width: 1250px) {
	.footer_upper > .container > div {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}

	.footer_upper > .container > div > * {
		width: 40%;
		margin: 0 0 4rem 0;
	}

	.footer_upper > .container > div > div:last-child {
		margin-left: auto;
		margin-right: auto;
	}
}