@media screen and  (min-width: 900px) {
.no_display_large {
	display: none;
}

.no_display_small {
	display: inline;
	position: absolute;
	margin-right: 20px;
}
}

@media screen and (max-width:1300px) {
	.about_image {
		margin-top: 150px;
	}

	.about_text p{
		padding: 0 1rem;
	}
}

@media screen and (max-width: 1250px) {
	.footer_upper > .container > div {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}

	.footer_upper > .container > div > * {
		width: 40%;
		margin: 0 0 4rem 0;
	}

	.footer_upper > .container > div > div:last-child {
		margin-left: auto;
		margin-right: auto;
	}
}

@media screen and (max-width:1120px) {
	#about > .container > div {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
	}

	#about .container > div > * {
		width: 90vw;
		height: 50%;
		position: relative;
	}
}

@media screen and (max-width: 950px) {
	.footer_upper > .container > div > * {
		width: 50%;
	}

	.footer_upper > .container > div > div:not(:last-child) {
		padding: 0 1rem;
	}
}

@media screen and (max-width: 800px) {
	.footer_upper > .container > div {
		flex-direction: column;
	}

	.footer_upper > .container > div > * {
		width: 80%;
	}

	.footer_upper > .container > div > div:first-child {
		max-width: 500px;
	}
}

@media screen and (max-width: 750px) {
	.footer_contacts {
		flex-direction: column;
	}

	.footer_contacts > * {
		margin-bottom: 1rem;
	}

	.footer_upper > .container > div > * {
		width: 96%;
	}
}